%mali-400 {
 font-family: 'Mali-Regular', sans-serif;
 font-weight: 400;
}

%montserat-400 {
 font-family: 'Montserrat-Regular', sans-serif;
 font-weight: 400;
}

%montserat-500 {
 font-family: 'Montserrat-Medium', sans-serif;
 font-weight: 500;
}