$gray: #585858;
$red: #FD665E;

%new-york-700{
 font-family: 'NewYorkLargeBold', sans-serif;
 font-weight: 700;
}

%sf-300{
 font-family: 'SFUIDisplay-Light', sans-serif;
 font-weight: 300;
}

%sf-400{
 font-family: 'SFUIDisplay-Regular', sans-serif;
 font-weight: 400;
}

%sf-600{
 font-family: 'SFUIDisplay-Semibold',sans-serif;
 font-weight: 600;
}

%sf-700{
 font-family: 'SFUIDisplay-Bold', sans-serif;
 font-weight: 700;
}